<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleDevelopmentRegion</key>
<string>English</string>
<key>CFBundleExecutable</key>
<string>JavaAppLauncher</string>
<key>CFBundleIconFile</key>
<string>TaskGenerator.icns</string>
<key>CFBundleIdentifier</key>
<string>com.shadow.app.TaskGenerator</string>
<key>CFBundleDisplayName</key>
<string>TaskGenerator</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleName</key>
<string>TaskGenerator</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleShortVersionString</key>
<string>0.1</string>
<key>CFBundleSignature</key>
<string>????</string>
<key>CFBundleVersion</key>
<string>1</string>
<key>NSHumanReadableCopyright</key>
<string>Hippo Lee</string>
<key>LSApplicationCategoryType</key>
<string>public.app-category.utilities</string>
<key>JVMMainClassName</key>
<string>com/shadow/app/TaskGenerator</string>
<key>JVMOptions</key>
<array>
<string>-Xdock:icon=res/icns/TaskGenerator.icns</string>
<string>-Dapple.laf.useScreenMenuBar=true</string>
<string>-Dcom.apple.macos.use-file-dialog-packages=true</string>
<string>-Dcom.apple.macos.useScreenMenuBar=true</string>
<string>-Dapple.awt.application.name=TaskGenerator</string>
<string>-Dcom.apple.smallTabs=true</string>
</array>
<key>JVMArguments</key>
<array>
</array>
</dict>
</plist>

